{% import "trees/rawhide.j2" as rawhide with context %}
{% set kernel_options = rawhide.kernel_options %}
{% set distro_requires = rawhide.distro_requires %}
{% set repos = rawhide.repos %}
{% set host_requires %}
  {{ rawhide.host_requires }}
  {% if ARCH == "s390x" %}
    <not>
      <or>
        {# NOTE:(bgoncalv) exclude z13 machines as they are not supported on ARK #}
        <key_value key='CPUMODEL' op='=' value='2964'/>
      </or>
    </not>
  {% endif %}
  {% if ARCH == "x86_64" %}
    <not>
      <or>
        {# NOTE:(bgoncalv) fails to boot on eln kernel. #}
        {# Also there serial console doesn't work there. #}
        <hostname op="=" value="oraefajokull.gsslab.brq2.redhat.com"/>
      </or>
    </not>
  {% endif %}
{% endset %}
{% set ks_append = rawhide.ks_append %}
